{% extends "base.html" %}
{% load static%}
{% block content %}

<div class="container align-items-center justify-content-center center small text-center text-muted px-4 px-lg-5" id="adj11" style="min-height: 100%; position:relative; top:50px;">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-12 center">
            <div class="container align-items-center justify-content-center" style="background-color:rgba(220, 192, 136, 0.824);" >
                <div class="searchArea" id="searchArea">
                    <div class="col-lg-12 align-self-baseline">
                        <h2 class="ph" id="ph" style="color:#000;">Choisissez les meuilleurs produits que vous voulez consommer!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container align-items-center justify-content-center center">
        <div class="col-lg-12 col-md-3 center small text-center text-muted px-4 px-lg-5">
            <div class="row">
                {% for x in products %}
                    <div class="col-lg-4 center" >
                        <div class="card" >
                            <div class="card-body">
                                <a href="{% url 'product_infos' x.id %}">
                                    <img class=”card-img-top” src={{ x.image_small }} >
                                </a>
                                <h6 class="card-title">{{ x.name }}</h6>
                                <div  class="nutriscore_pic" >
                                    {% if x.nutriscore == '1' %}
                                        <img src="../static/images/a.png"  alt=”” id="nutriscore_pic">
                                    {% elif x.nutriscore == '2' %}
                                        <img src="../static/images/b.png"  alt=”” id="nutriscore_pic">
                                    {% elif x.nutriscore == '3' %}
                                        <img src="../static/images/c.png"  alt=”” id="nutriscore_pic">
                                    {% elif x.nutriscore == '4' %}
                                        <img src="../static/images/d.png"  alt=”” id="nutriscore_pic">
                                    {% elif x.nutriscore == '5' %}
                                        <img src="../static/images/e.png"  alt=”” id="nutriscore_pic">
                                    {% else %}
                                        <h6> Nutriscore non mentionné </h6>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
