{% extends 'base.html' %}
{% block content %}
<nav class="col-lg-12 navbar navbar-expand" id="mainNav">
    <div class="container  bg-dark">
        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <img src="../static/images/logo.png" width="40" height="40"/>
                        <p style="color:#2275e2;"> Pur Beurre </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p style="color:#2275e2;"> Search product </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-12">
        <h1> Welcome to Homepage </h1>
    </div>
</div>
<div class="container">
    <div class="home" id="home" style=" visibility:visible; position:relative; top:100px; left:300px;">
        <div class="row" style="position:relative; top:0px;">
                <div class=" col-lg-12 col-md-4 text-center d-block w-800">
                    <section class="main-section" id="signup" style="position:relative; top:40px;">
                        <div class="row" style="position:absolute; left: 20%;">
                            <div class="col-4">
                                <div class="card">
                                    <img src="../static/images/deconnect.png"  width="150" height="150"/>
                                    <div class="card-body">
                                        <button class="btn btn-secondary" id="demand" type="submit">Inscrire</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
