#question {
    border: none;
    background-color: rgb(172, 214, 224);
    background-image: url('../static/images/searchicon.png');
    background-position: 90% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#searchprod {
    color: rgb(56, 227, 207);
}


#countainerNav {
    border: 1px solid black;
}

#champ1 {
    visibility: visible;
    position: relative;
    top: 8px;
    left: 10px;
}

#champ2 {
    position: relative;
    top: 8px;
    width: 200px;
    left: 50%;
}

#contForm {
    background-color: rgba(188, 48, 55, 0.971);
}

#connect {
    height: 700px;
    width: 900px;
    position: relative;
    top: 0%;
    background-image: url('../static/images/bghome.png');
    background-repeat: no-repeat;
    background-size: 900px 700px;
    background-position: 0px 0px;
}

.logIn {
    left: 40%;
}


#phrasestyle {
    top: 30%;
    width: 200px;
    color: #C45525;
}

.formulaire {
    background-color: rgba(81, 191, 208, 0.918);
    top: 0%;
}

#bouton {
    border: 0px;
    position: relative;
    left: 30%;
}

#insc {
    height: 700px;
    width: 1000px;
    position: relative;
    left: 0%;
    top: 0%;
    background-image: url('../static/images/bghome.png');
    background-repeat: no-repeat;
    background-size: 1000px 700px;
    background-position: 0px 0px;
}


.connected {
    left: 80%;
}

.login {
    position: relative;
    top: 0px;
    width: 52px;
    height: 52px;
}

.menu {
    position: relative;
    top: 0px;
    width: 60px;
    height: 60px;
}

#homeacc {
    visibility: visible;
    position: relative;
    top: 0px;
}

#bgcard {
    border: 1px solid black;
    background-image: url('../static/images/bghome.png');
    background-repeat: no-repeat;
    background-size: 1250px;
    background-position: 0px 0px;
    padding: 12px;
    margin-bottom: 20px;
}

#accueil {
    position: relative;
    top: 0px;
}

#ligne {
    position: relative;
    top: 0px;
    border: none;
}

.p {
    color: #2275e2;
}

#logoImg {
    width: 40px;
    height: 40px;
}

#userImg {
    position: relative;
    top: 10px;
    left: 0px;
    width: 30px;
    height: 30px;
}

#nutriscore_pic {
    width: 60px;
    height: 20px;
}

#menuImg {
    position: relative;
    bottom: 30px;
    left: 50px;
    width: 50px;
    height: 50px;
}

#logOut {
    position: relative;
    bottom: 70px;
    left: 130px;
    width: 30px;
    height: 30px;
}

#alignement {
    visibility: visible;
    position: relative;
    top: 8px;
    left: 10px;
}

#cadreNav {
    border: 1px solid black;
    height: 100px;
}

#remyetcolette {
    position: relative;
    top: 65%;
}

#history {
    border: none;
    background-color: rgb(245, 203, 167)
}

#colettecard {
    position: relative;
    left: 50%;
}

#remycard {
    position: relative;
    left: 90%;
}

#coletteImg {
    width: 110px;
    height: 110px;
}

#remyImg {
    width: 110px;
    height: 110px;
}

#title1 {
    color: #f1b094;
}

#title2 {
    color: #86EBE6;
}

#searchArea {
    position: relative;
    background-image: url('../static/images/bghome.png');
    background-repeat: no-repeat;
    background-size: 900px 700px;
}

#ph {
    color: #86EBE6;
}

.icon:before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#color_text {
    color: #f1b094;
}

.wlcmtext {
    position: relative;
    color: #d76f42;
}

.wlcmtext2 {
    position: relative;
    left: 45%;
    color: #e86228;
}

#headpg {
    height: 300px;
    width: 1000px;
    position: relative;
    top: 0%;
    background-image: url('../static/images/bghome.png');
    background-repeat: no-repeat;
    background-size: 1000px 300px;
    background-position: 0px 0px;
}

.email {
    position: relative;
    height: 70px;
    left: 35%;
    color: #1fb8b0;
}

.lien1 {
    position: relative;
    left: 20%;
    height: 70px;
}

.lien2 {
    position: relative;
    left: 25%;
    height: 70px;
}

.textadj {
    position: relative;
    left: 10%;
    top: 12%;
}

.coord {
    color: #d74f07;
}

#zone {
    border: 1px solid black;
    background-color: black;
}


#pagefeet {
    border: 1px solid black;
    visibility: visible;
    position: relative;
    bottom: 0%;
    width: 800px;
}

#pos1 {
    position: relative;
    left: 8%;
}

#pos2 {
    position: relative;
    left: 50%;
}

#ic_size {
    left: 20px;
    width: 30px;
    height: 30px
}

#ic1_size {
    left: 20px
}

#accueil {
    visibility: visible;
    position: relative;

}

#phone {
    position: relative;
    right: 2%;
}

#adress_mail {
    position: relative;
}

#size_config {
    top: 20%;
    left: 20%
}

#size_config1 {
    top: 20%;
    left: 20%
}

#dist {
    top: 20%;
}

#txt {
    height: 5%;
}

#img_size {
    height: 100px;
    width: 100px;
}

#adjt_mention {
    top: 2%;
}

#bg_products {
    background-color: black;
    height: 412px;
    position: relative;
}

#color1 {
    color: white;
}

#color2 {
    color: #f1b099;
}

#bd {
    border: 1px solid black
}

#mg {
    display: block;
    margin: 0px auto;
}

#b_distance {
    bottom: -10%;
}

#property {
    height: 100%;
    width: 100%;
    bottom: -10%;
}

#pos_l {
    left: 30%;
}

#dec_l {
    left: 25%;
}
